<div id="carouselExampleAutoplaying" class="carousel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active opacity-carousel">
      <img src="assets/carousel1.jpg" class="d-block w-100 overlay" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>Burgers are our love language</h3>
        <p>extra cheese, please</p>
      </div>
    </div>
    <div class="carousel-item opacity-carousel">
      <img src="assets/carousel2.jpg" class="d-block w-100 overlay" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>Nothing brings people together like good pasta</h3>
        <p>Mamma mia!</p>
      </div>
    </div>
    <div class="carousel-item opacity-carousel">
      <img src="assets/carousel3.jpg" class="d-block w-100 overlay" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h3>having a bad day? here, have a pizza</h3>
        <p>a little slice of heaven</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class='container'>

  <div class="row justify-content-center align-items-center text-center">
    <h1 class='mt-5 ffasc text-secondary'>Our<span class='red'> Best Sellers</span></h1>
    <div class="row m-5">
      <div class="col card me-5 h-75">
        <img src="assets/burger.jpg" class="card-img-top rounded mt-4" alt="cheese burger" />
        <div class="card-body">
          <p class="card-text text text-dark text-center">Cheese Burger</p>
        </div>
      </div>
      <div class="col card me-5 h-25">
        <img src="assets/pizza.jpg" class="card-img-top rounded mt-4" alt="pizza pepperoni" />
        <div class="card-body">
          <p class="card-text text text-dark text-center">Pepperoni Pizza</p>
        </div>
      </div>
      <div class="col card me-5 h-25">
        <img src="assets/pestopasta1.jpg" class="card-img-top rounded mt-4" alt="pesto pasta" />
        <div class="card-body">
          <p class="card-text text text-dark text-center">Pesto Pasta</p>
        </div>
      </div>

      <div class="col card me-5 h-25">
        <img src="assets/sushi.jpg" class="card-img-top rounded mt-4" alt="pesto pasta" />
        <div class="card-body">
          <p class="card-text text text-dark text-center">Sushi</p>
        </div>
      </div>

    </div>
  </div>
</div>